{
    "extends": [
        "plugin:react-app/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "plugins": ["eslint-plugin-import"],
    "parser": "@typescript-eslint/parser",
    "rules": {
        "semi": ["error", "always"],
        "import/order": "error",
        "newline-after-var": "error",
        "newline-before-return": "error",
        "newline-per-chained-call": "error",
        "react-app/react/react-in-jsx-scope": "off",
        "@typescript-eslint/no-empty-interface": "off",
        "@typescript-eslint/member-delimiter-style": ["error"]
    }
}
