{
    "extends": ["plugin:react-app/recommended"],
    "plugins": ["eslint-plugin-import"],
    "rules": {
        "semi": ["error", "always"],
        "import/order": "error",
        "react-app/react/react-in-jsx-scope": "off",
        "@typescript-eslint/member-delimiter-style": ["error"]
    }
}
