@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./typography.css";

@import "./variables.scss";

@import "./layout.scss";

@keyframes countdown {
  from {
    stroke-dashoffset: 480px;
  }
  to {
      stroke-dashoffset: 0;
  }
}