@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./typography.css";

:root {
  --primary-color: #0B0B0B;
  --secondary-color: #4A4A4A;
  --tertiary-color: #61F1F8;
  --black-color: #000000;
  --melrose-color: #C0A4FF;
}