body {
    overscroll-behavior-y: none;
    -webkit-tap-highlight-color: transparent;
}

img,
picture {
    @apply select-none pointer-events-none;
}

button,
textarea,
input {
    outline: none;

    &:focus,
    &:active {
        outline: none;
    }
}

.parallax-scale {
    transform: scale(1.5);
}

::selection {
    @apply text-tertiary bg-melrose;
}

article li {
    list-style: disc;
    margin-left: 1rem;
}

b,
strong {
    font-family: "Larsseit-Bold", sans-serif;
}
