body {
    overscroll-behavior-y: none;
    -webkit-tap-highlight-color: transparent;
}

img,
picture {
    @apply select-none pointer-events-none;
}

button,
textarea,
input {
    outline: none;

    &:focus,
    &:active {
        outline: none;
    }
}

.parallax-scale {
    transform: scale(1.5);
}

::selection {
    @apply text-tertiary bg-melrose;
}

article li {
    list-style: disc;
    margin-left: 1rem;
}

b,
strong {
    font-family: "Larsseit-Bold", sans-serif;
}

@keyframes enterAnimation {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(-100%);
    }
}

@keyframes topOverlayEnter {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

.top-overlay-enter {
    transform: translateY(100%);
    animation: topOverlayEnter 1.3s ease forwards;
}
