body {
    overscroll-behavior-y: none;
    -webkit-tap-highlight-color: transparent;
    min-height: 100vh;
}

img,
picture {
    @apply select-none pointer-events-none;
}

button,
textarea,
input {
    outline: none;

    &:focus,
    &:active {
        outline: none;
    }
}

.parallax-scale {
    transform: scale(1.5);
}

::selection {
    @apply text-tertiary bg-melrose;
}

article li {
    list-style: disc;
    margin-left: 1rem;
}

b,
strong {
    font-family: "Larsseit-Bold", sans-serif;
}

#page-container {
    transform: translateY(100vh) translateZ(0);
    position: fixed;
    width: 100%;

    &.enter {
        transition: transform 900ms cubic-bezier(0.43, 0.13, 0.23, 0.96);
        transform: translateY(0) translateZ(0);
    }

    &.end {
        transition: none;
        position: relative;
    }
}

.overlay {
    animation: slideOverlaysAnimation 0s cubic-bezier(0.43, 0.13, 0.23, 0.96)
        forwards 0s;
}

.full-page-overlay {
    display: none;
    background-color: #000;
    z-index: 1040;

    &.enter {
        animation: fullPageOverlayEnterAnimation 600ms
            cubic-bezier(0.43, 0.13, 0.23, 0.96) forwards;
    }

    &.end {
        animation: fullPageOverlayEndAnimation 600ms
            cubic-bezier(0.43, 0.13, 0.23, 0.96) forwards;
    }
}

@keyframes slideOverlaysAnimation {
    from {
        transform: translateY(100%) translateZ(0);
    }
    to {
        transform: translateY(-100%) translateZ(0);
    }
}

@keyframes fullPageOverlayEnterAnimation {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes fullPageOverlayEndAnimation {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-100%);
    }
}
