:root {
    --primary: #0b0b0b;
    --secondary: #4a4a4a;
    --tertiary: #fff;
    --black: #000000;
    --melrose: #c0a4ff;
    --melrose-40: rgba(192, 164, 255, 0.4);
    --pink: #f5a4ff;
    --green: #61f1f8;
    --gray: #828282;
}
